.logo{
    width:  20%;
    position:  absolute;
    top: 2%;
    left: 2%;
    background-color: transparent;
  }
  
  
  
  
  .title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:50px;
    font-stretch: expanded;
    text-align: center;
    color: aqua;
    color: #fff;
    text-shadow:
      0 0 5px #0ff;
    /* color: transparent; */
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400%;    

  }
  
  @keyframes move {
      0%,100%{
          background-position: 200% 0%;
      }
  
      50%{
          background-position: 0% 200%;
      }
  }
  
  
  .clsFirstIMg{
    width:  37%;
    position:  absolute;
    top: 160;
    left: 100;
    background-color: transparent;
  }
  
  form { max-width:420px; margin:10px auto;
    width:  30%;
    position:  absolute;
    top: 230;
    right:140;
   }
  
  .title1 {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    top: 130;
    right:150;
    position: absolute;
  }
  
  .subtitle1 {
    color: #eee;
    font-family: "Courier New";
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    top: 180;
    right:100;
    position: absolute;
    
  
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
  
  
  }
  
  
  
  .feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #06b;
    transition: all 0.3s;
    padding: 13px;
    margin-top: 5px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  .feedback-input:focus { border:2px solid #CC4949; }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#06b;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#CC4949; }
  
  
  
  
  .info1 {
    width:  2%;
    position:  absolute;
    top: 285;
    right:100;
    background-color: #ff0000;
    border-radius: 15px;
  }
  .info1 .info1_sub {
    visibility: hidden;
    width: 500%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 10px;
  
     /*Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .info1:hover .info1_sub {
    visibility: visible;
  }
  
  
  .info2 {
    width:  2%;
    position:  absolute;
    top: 375;
    right:100;
    background-color: #ff0000;
    border-radius: 15px;
  }
  .info2 .info2_sub {
    visibility: hidden;
    width: 550%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 10px;
  
     /*Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .info2:hover .info2_sub {
    visibility: visible;
  }
  
