<html>  

<head>
  <link rel="stylesheet" href="static/segmentation.css">
</head>


<style>
body {
  background-image: url('static/images/wall.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style> 


<div> 
    <a href="https://nohara-inc.co.jp/en/">
    <img src="static/images/nohara_logo.png", class= 'logo'> 
    </a>
</div> 

<div class="title">Color Segmentation</div> 

<div> 
    <img src="{{ image_fig }}" class= 'clsFirstImg' ></div> 


<div class="title1">Color Selection</div>
<div class="subtitle1">From segmentation </div>

<form action="/area_calculation" method="post">


   <label class="subtitle" for="color_number">Input the color number for segmentation:</label><br>
   <input name="color_number" type="number" class="feedback-input" placeholder="" required="required"/><br>



   <input type="submit" value="SUBMIT">

</form> 


 
<div class="info1">
    <img src="static/images/info.jpg" width="40" 
     height="30"> 
  <span class="info1_sub">Select the no. assigned to the color you want to segment.</span>
</div>




</html>